.head {
  background: #f4483e;
  color: #FFFFFF;
  height: 44px;
  width: 100%;
  padding: 0 50px;
  position: relative;
}
.head .back {
  position: absolute;
  left: -60px;
  top: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
}
.head .back .icon-back {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/icon_bar.png") 250px -23px;
  color: #fff;
}
.head h2 {
  width: 80%;
  text-align: center;
  font-size: 18px;
  height: 44px;
  line-height: 44px;
}
.head .home {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 44px;
  text-align: center;
}
.head .home a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/header_app.png") no-repeat;
  background-size: 45px 40px;
}
/*底部*/
footer {
  background-color: #efefef ;
  height: 122px;
  padding-top: 25px;
}
footer .foot {
  overflow: hidden;
}
footer .foot a {
  width: 33.3333333%;
  display: block;
  height: 32px;
  border: 1px solid #bbbbbb;
  text-align: center;
  line-height: 32px;
}
footer .foot a:nth-child(1) {
  border-left: none;
}
footer .foot a:nth-child(3) {
  border-right: none;
}
footer .foo {
  width: 100%;
  height: 62px;
  margin-top: 18px;
  text-align: center;
}
footer .foo p {
  color: #545159;
}
/*内容*/
.coupon-list {
  background: #FFFFFF;
}
.coupon-list ul,
.coupon-list li {
  margin: 0px;
  padding: 0px;
}
.coupon-list ul li {
  border-bottom: 1px solid #e7e7e7;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='#999999' d='M746.255255 299.653099 746.33098 299.728824 713.12674 332.933063 713.049992 332.857339 297.859875 748.048479 264.635169 714.82275 679.816077 299.642866 264.635169-115.538041 297.859875-148.762747 713.00906 266.386438 713.085808 266.30969 746.341213 299.567141Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right center;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.coupon-list ul li:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.coupon-list ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: content-box;
}
.coupon-list .pic {
  width: 100px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
  float: left;
}
.coupon-list .pic img {
  max-width: 100px;
  height: auto;
}
.coupon-list .info {
  padding-right: 30px;
  overflow: hidden;
}
.coupon-list .info .tit h3 {
  margin: 0px;
  padding: 0px;
  word-break: break-all;
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 20px;
}
.coupon-list .info .time {
  font-size: 12px;
  color: #EE7700;
  margin-top: 10px;
}
